<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Impianti</title>
</head>
<body>

<h1>Lista Impianti</h1>

<table border="1">
    <thead>
        <tr>
            <th>Nome Impianto</th>
            <th>Indirizzo Impianto</th>
        </tr>
    </thead>
    <tbody>
        {% for impianto in impianti %}
        <tr>
            <td>{{ impianto.nome_impianto }}</td>
            <td>{{ impianto.indirizzo_impianto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>